<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>test</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='dist/bundle.css') }}" />

    <script type="module" src="{{ url_for('static', filename='dist/codemirror-vendor.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
</head>
<body>
    
    <nav class="container active" id="nav">
        {% for page in pages %}
            {{ page }}
        {% endfor %}
    </nav>

    <main class="container">
        <button id="menu">|||</button>

        <section class="workfield">
            <div class="editor" id="editor"></div>
            <div class="preview" id="preview"></div>
        </section>
    </main>
</body>
</html>
