{% macro render_pages(node) %}
<ul class="file-tree">
{% for child in node.children %}
    {% if child.type == "directory" %}
    <li class="tree-item directory" data-path="{{ child.path }}" data-type="directory">
        <details open>
            <summary class="flex-ver" draggable="true" data-path="{{ child.path }}" data-type="directory">
                {{ child.name.title() }}
                {% include "icons/marker.html" %}
            </summary>

            {{ render_pages(child) }}
        </details>
    </li>
    {% else %}
    <li class="tree-item file" data-path="{{ child.path }}" data-type="file">
        <button type="button" 
                class="file-btn" 
                draggable="true" 
                data-path="{{ child.path }}" 
                data-type="file"{% if child.path == 'index.md' %} id="index-file"{% endif %}>
            {{ child.name.title() }}
        </button>
    </li>
    {% endif %}
{% endfor %}
</ul>
{% endmacro %}