{% macro render_pages(node) %}
<ul class="file-tree">
{% for child in node.children %}
    {% if child.type == "directory" %}
    <li class="tree-item directory" data-path="{{ child.path }}" data-type="directory">
        <details open>
            <summary class="flex-ver" draggable="true" data-path="{{ child.path }}" data-type="directory">
                {{ child.name.title() }}
                {% include "icons/marker.html" %}
            </summary>

            {{ render_pages(child) }}
        </details>
    </li>
    {% else %}
    <li class="tree-item file" data-path="{{ child.path }}" data-type="file" {% if child.path == 'index.md' %} id="index-file"{% endif %}>
        <button type="button" 
                class="file-btn{% if child.name == 'README' %} flex-ver{% endif %}" 
                {% if child.name != "README" %} draggable="true"{% endif %} 
                data-path="{{ child.path }}" 
                data-type="{% if child.name == 'README' %}readme{% else %}file{% endif %}"
                {% if child.name == 'README' %} title="This file cannot be removed. You may only edit the contents."{% endif %}>
            {{ child.name.title() }}
            {% if child.name == "README" %}
                {% include "icons/lock.html" %}
            {% endif %}
        </button>
    </li>
    {% endif %}
{% endfor %}
</ul>
{% endmacro %}